
 /* styles for small mobile devices */
 @media only screen and (max-width: 480px) {
    header,main{
        scroll-behavior: scroll;
        
    }
    .card .header-content{
        padding: 0 20px;
    }
    .container .border{
        max-width: 100%;
        padding: 1rem 0;
    }
    .feature, .feature-list{
        padding: 0;
    }
    nav ul a{
        margin-right: 0.25rem;
    }
    .hideOnsmallScreen{
        display: none;
    }
    .card p{
        display: none;
    }
    #closeSidebar{
        width: 100%;
    }
    .reservation{
        display: block;
    }
    .contact-right{
        width: 90%;
    }
}

/* Styles for mobile phones */
@media only screen and (min-width: 480px) and (max-width: 769px) {
    header,main{
        scroll-behavior: scroll;
    }
    .hideOnsmallScreen{
        display: none;
    }
    nav ul a{
        font-size: 1.25rem;
        margin-right: 2rem;
    }
    .reservation{
        display: block;
    }
    .contact-right{
        width: 80%;
        text-align: center;
    }
}

/* Styles for tablets (portrait mode) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-button{
        display: none;
    }
    .reservation{
        display: block;
    }
    .contact-right{
        width: 80%;
        text-align: center;
    }
}

/* Styles for desktop screens */
@media only screen and (min-width: 1024px) {
    .menu-button{
        display: none;
    }
}
